.navbarr {
  /* background:rgba(0,0,0,0.6); */
  background-color: var(--color-white);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 6px 14px #0000001c;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  /* width: 90%;
  max-width: 1500px; */
}
.navbar-logo {
  justify-self: start;
  /* margin-left: 20px; */
  cursor: pointer;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
}
.navbar-logo img {
  height: 100%;
  width: 100% !important;
  object-fit: contain;
}
.navbar-logo .logo-mov {
  margin: 0px 4px;
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
}

.nav-item {
  height: 100px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-links {
  color: var(--color-main2);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  list-style: none;
  height: 100%; /* the most important*/
  font-size: 20px;
  font-weight: 600;
}
.nav-links svg {
  /* color: var(--white); */
  margin: 3px 2px 0 0;
  /* transition: all 0.1s ease-in-out; */
}
.active {
  color: var(--color-main1);
}
.nav-links:hover {
  /* border-bottom: 4px solid var(--white); */
  color: var(--color-main1);
  transition: all 0.1s;
}

.arrowDown {
  transition: all 0.2s;
}
.nav-links:hover .arrowDown {
  transform: rotate(180deg);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

/* =========== dropdown */

.dropdown-main {
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 0px 10px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-top: 2px solid var(--color-main2); */
}
.dropdown-main li {
  margin: 5px 0;
  width: 100%;
}
.dropdown-main li a {
  color: var(--color-main1);
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  font-weight: 600;
}
.dropdown-main li a:hover {
  color: var(--color-main2);
}
.drop-active {
  /* background-color: var(--color-main1); */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all 0.3s ease-in-out;
  /* border-bottom: 5px solid var(--blue) ; */
}
.drop-active a {
  color: var(--color-main1);
}
/* ======== media ======= */
@media screen and (max-width: 1000px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 90px;
    left: +100%;
    opacity: 1;
    transition: all 0.5s ease;
    overflow-x: hidden;
    display: none;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon {
    display: flex;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-black);
  }
}
